.nick-pane {
    -fx-background-color: yellow;
}

.chips-pane {
    -fx-background-color: green;
}

.card-pane {
    -fx-background-color: white;
}

.control-pane {
    -fx-background-color: red;
}

.board-info {
    -fx-background-color: orange;
}

.player-action {
    -fx-background-color: brown;
}

.nick-label {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-start-margin: 0;
}

/*#boardPane {*/
    /*-fx-background-color: brown;*/
/*}*/